/*
.line1{
    width:700px;
    height:5px;
    top: 300px;
    position:relative;
    background-color:black;
}
.line2{
    width:700px;
    height:5px;
    top: 500px;
    position:relative;
    background-color:black;
}
.line3{
    width:700px;
    height:5px;
    top: 700px;
    position:relative;
    background-color:black;
}
.line4{
    width:700px;
    height:5px;
    top: 900px;
    position:relative;
    background-color:black;
}

.flex-container{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:row;
}

.flex-box{
   width:70px;
   heigth:50px;
   background:linear-gradient(purple,red);
   text-align:center;
   line-height:150px;
   margin:250px;

}
.flex-container2{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:row;
}

.flex-box2{
   width:70px;
   heigth:50px;
   background:linear-gradient(purple,red);
   text-align:center;
   line-height:150px;


}*/

.hidden {
    display: none;
}

/*.floor-box {
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
    background-color: #ccc;
    text-align: center;
}*/
.LIFT-container {
    display: flex;
}

.LIFT {
    width: 60px;
    height: 120px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center bottom;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 10px;


}

        .lines{
           margin-top: 80px;
           margin-bottom: 40px;

        }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#heading {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
    color: #c65151;
}

#formDiv {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

label {
    font-size: 1.8rem;
}
